@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

body{
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#span-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 40px;
    border-radius: 1rem;
    background-color: white;
    border: solid 2px #9E1C3F;
}

span{
    display: block;
    margin: 3px;
    margin-right: 20px;
}


#body-index{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg2.png');
}

#header-bar{
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #9E1C3F;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title1{
   font-family: "Playwrite CU", cursive;
   font-size: 2.5rem;
}

#title2{
   font-family: "Montserrat", sans-serif;
   font-size: 3rem;
}

#title3{
    font-family: "Playwrite CU", cursive;
    font-size: 2.5rem;
}

#header-gifts{
    border-bottom: solid 2px grey;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
}

#text{
    margin: 2%;
}

#text h1{
    color: #9E1C3F;
}

#flipdown{
    flex-shrink: 0;
}

#button-div{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    height: 100%;
    width: 20%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gift-img{
    width: 80%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0 0;
}

.gift-div{
    width: 100%;
    height: 300px;
    border-radius: 50px 50px 0 0;
    background: linear-gradient(45deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viagem{
    width: 100%;
}

#gravata{
    width: 100%;
}

#camisa-social{
    width: 60%;
    height: 90%;
}

#vade-mecum{
    width: 60%;
    height: 90%;
}

#jack-daniels{
    width: 70%;
    height: 80%;
}

#copo-stanley{
    width: 45%;
}

#cadeira-de-couro{
    width: 70%;
    height: 80%;
}

.price{
    font-weight: 450;
}

.subtitle{
    max-height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    border-top: none;
    padding: 2%;
}

.text{
    font-size: 12px;
    max-height: 100%;
    margin-left: 20px;
}

#logo{
    width: 200px;
    margin-top: 80px;
}

#title{
    margin-top: 1%;
    font-size: .8rem;
    text-align: center;
    color: black;
}

#presenteie-button{
    color: white;
    height: 80px;
    width: 200px;
    margin-bottom: 10vh;
    background-color: #9E1C3F;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    border: 1px solid white;
    transition: all .1s;
}

#endCountdownDiv{
    display: none;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    color: #9E1C3F;
    text-shadow: 3px 3px #d4a4b1;
    text-align: center;


}

#presenteie-button:hover{
    cursor: pointer;
    width: 210px;
    height: 90px;
}

#gift-button{
    margin-right: 20px;
    margin-left: 10px;
}

#custom-price{
    width: 60%;
    margin-left: 10px;
    padding: 6px;
    border-radius: 10px;
    transition: border .5s;
    outline: none;
}

#custom-price:hover{
    border: black solid 2px;
}

#custom-price:focus{
    border: #9E1C3F solid 2px;
}

#buy-button{
    width: 10%;
    height: 10%;
}

.bi-gift-fill{
    font-size: 2rem;
    margin-bottom: 20px;
    transition: color .2s;
}

.bi-gift-fill:hover{
    color: #9E1C3F;
}

.bi-clipboard-fill{
    font-size: 1.5rem;
    transition: color .2s;
    margin: 10px;
}

.bi-clipboard-fill:hover{
    color: #9E1C3F;
}

#qrcode-card{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1300px) {

    #gift-button{
        border: none;
    }

    #title1{
        font-size: 2rem;
    }

    #title2{
        font-size: 2.5rem;
    }

    #title3{
	display: none;
    }

}

@media (max-width: 1100px) {

    .card{
        width: 40%;
    }



}

@media (max-width: 750px) {
    
    body{
        height: 100vh;
    }

    #body-index{
        background-position: right 80% bottom 0%;
        background-size: 220%;
    }
    
    #logo{
        width: 100px;
    }

    #text h1{
        font-size: 2rem;
    }

    #text h2{
        display: none;
    }

    .card{
        width: 80%;
        height: 40%;
        margin: 10%;
    }
    
    .subtitle{
        max-height: 20%;
    }

    #qrcode-card{
        margin-bottom: 20%;
    }
    


    
}

