<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>checkout</title>
</head>
<body>

    <header>
        <img id="logo" src="../img/logo.png" alt="">
    </header>

    <div id="qrcode-card">
        <img src="<%=qrcodeImage%>">
        <h1>Pague Aqui!</h1>
	<div id="span-div">
	  <i onclick="copyCode()" class="bi bi-clipboard-fill"></i>	  
	  <span id="qrcode-span"><%=qrcodeString%></span>	  
        </div>    
</div>

    
</body>

<script>
function copyCode(){
  var code = '<%= qrcodeString %>';
  navigator.clipboard.writeText(code);
}
</script>

</html>
