<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>checkout</title>
</head>
<body>

    <header>
        <img id="logo" src="../img/logo.png" alt="">
    </header>

    <div id="qrcode-card">
        <img src="<%=qrcodeImage%>">
        <h1>Pague Aqui!</h1>
    </div>

    
</body>
</html>