<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>presentes</title>
</head>
<body>
    
    <header id="header-gifts">
        <div id="text">
            <h1>CATÁLOGO DE PRESENTES!</h1>
            <h2>Endereço: Rua Amapá, 150 - Mathias Velho - Canoas/RS</h2>
            <h2>Data: 17/08 - 20h</h2>
        </div>
        
    </header>

    <main>


        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="gravata" src="img/gravata.jpg" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">GRAVATA</h2>
                    <h1>R$ 60.00</h1>
                </div>
                <i onclick="sendPrice(60)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>
        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="viagem" src="img/viagem.jpg" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">VIAGEM PARA CIDREIRA/RS&#128514;</h2>
                    <h1>R$ 90.00</h1>
                </div>
                <i onclick="sendPrice(90)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>
        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="vade-mecum" src="img/VadeMecum.png" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">VADE MECUM</h2>
                    <h1>R$ 130.00</h1>
                </div>
                <i onclick="sendPrice(130)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>

        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="camisa-social" src="img/CamisaSocial.png" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">CAMISA SOCIAL</h2>
                    <h1>R$ 170.00</h1>
                </div>
                <i onclick="sendPrice(300)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>


        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="jack-daniels" src="img/JackDaniels.png" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">JACK DE MAÇÃ VERDE</h2>
                    <h1>R$ 200.00</h1>
                </div>
                <i onclick="sendPrice(170)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>

        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="caneta" src="img/CanetaMontblanc.png" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">CANETA MONTBLANC</h2>
                    <h1>R$ 220.00</h1>
                </div>
                <i onclick="sendPrice(220)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>

        <div class="card">
            <div class="gift-div">
                <img class="gift-img" id="cadeira-de-couro" src="img/CadeiraDeCouro.png" alt="">
            </div>
            <div class="subtitle">
                <div class="text">
                    <h3 class="price">1° CADEIRA DO ESCRITÓRIO</h2>
                    <h1>R$ 500.00</h1>
                </div>
                <i onclick="sendPrice(500)" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>
        <div class="card" id="last-gift">
            <div class="gift-div">
                <img class="gift-img" src="img/Presente.png" alt="">
            </div>
            <div class="subtitle">
                <input type="text" id="custom-price" placeholder="0.00 R$"><i onclick="sendCustomPrice()" class="bi bi-gift-fill" id="gift-button"></i>
            </div>
        </div>

    </main>

    

</body>

<script>

const counters = document.querySelectorAll(".counter");

let giftValue;

var qtd = Array.from({length: counters.length}).fill(0);

function sendPrice(price){

    window.location.href = `/checkout/${price}`
}

function sendCustomPrice(){
    let input = document.getElementById("custom-price").value;
    let isnum = typeof parseFloat(input) == "number";


    if(isnum){
        input = parseFloat(input).toFixed(2)
        window.location.href = `/checkout/${input}`
    }else{
        window.alert("Valor inválido")
    }

    

}

</script>


</html>

