<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="flipJS.js"></script>
    <script src="flipdown.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flipdown.css">

    <title>Formatura Bruno Biguá</title>

</head>

<body id="body-index">

    <div id="header-bar">

    </div>

    <header>

        <div id="title">
            <h1 id="title1">Formatura</h1>
            <h1 id="title2">BRUNO BIGUÁ</h1>
            <h2 id="title3">Direito</h2>
	</div>

    </header>
    
    <div id="flipdown" class="flipdown"></div>

    <div id="button-div">
        <a onclick="location.href='/presentes'" id="presenteie-button">
            <h1>Presenteie Aqui!</h1>
        </a>
    </div>

</body>



</html>
